:root {
  --color-primary: ;
  --color-secondary: ;
  --color-tertiary: ;
  --color-primary-contrast: ;
  --color-secondary-contrast: ;
  --color-tertiary-contrast: ;
  --agnostic-warning-border-accent-modelight: ;
  --agnostic-warning-border-modelight: ;
  --agnostic-warning-light-modelight: ;
  --agnostic-warning-dark-modelight: ;
  --agnostic-secondary-hover-modelight: ;
  --agnostic-secondary-modelight: ;
  --agnostic-primary-light-modelight: ;
  --agnostic-primary-dark-modelight: ;
  --agnostic-primary-border-modelight: ;
  --agnostic-primary-hover-modelight: ;
  --agnostic-primary-modelight: ;
  --agnostic-light-modelight: ;
  --agnostic-dark-modelight: ;
  --agnostic-gray-dark-modelight: ;
  --agnostic-gray-mid-dark-modelight: ;
  --agnostic-gray-mid-modelight: ;
  --agnostic-gray-light-modelight: ;
  --agnostic-gray-extra-light-modelight: ;
  --agnostic-error-modelight: ;
  --agnostic-error-light-modelight: ;
  --agnostic-error-dark-modelight: ;
  --agnostic-error-border-modelight: ;
  --agnostic-action-border-modelight: ;
  --agnostic-action-light-modelight: ;
  --agnostic-action-dark-modelight: ;
  --agnostic-action-hover-modelight: ;
  --agnostic-action-modelight: ;
  --agnostic-warning-border-accent-modedark: ;
  --agnostic-warning-border-modedark: ;
  --agnostic-warning-light-modedark: ;
  --agnostic-warning-dark-modedark: ;
  --agnostic-secondary-hover-modedark: ;
  --agnostic-secondary-modedark: ;
  --agnostic-primary-light-modedark: oklch(0.9821 0 0);
  --agnostic-primary-dark-modedark: oklch(0.1822 0 0);
  --agnostic-primary-border-modedark: ;
  --agnostic-primary-hover-modedark: ;
  --agnostic-primary-modedark: ;
  --agnostic-light-modedark: ;
  --agnostic-dark-modedark: ;
  --agnostic-gray-dark-modedark: ;
  --agnostic-gray-mid-dark-modedark: ;
  --agnostic-gray-mid-modedark: ;
  --agnostic-gray-light-modedark: ;
  --agnostic-gray-extra-light-modedark: ;
  --agnostic-error-modedark: ;
  --agnostic-error-light-modedark: ;
  --agnostic-error-dark-modedark: ;
  --agnostic-error-border-modedark: ;
  --agnostic-action-border-modedark: ;
  --agnostic-action-light-modedark: ;
  --agnostic-action-dark-modedark: ;
  --agnostic-action-hover-modedark: ;
  --agnostic-action-modedark: ;
}
